* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  margin: 0px;
}

.hero_page {
  background-color: #2b3747;
  color: #e5e7eb;
  height: auto;
  padding: 20px 350px 0px;
}  

h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0px;

}

.header {
  display: flex;
  justify-content: flex-end;
  color: #e5e7eb;
}

.header_logo {
  flex: 1;
  font-size: 24px;
  font-weight: 600;
   
}

.header_pages {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 25px;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero_page_down {
  padding: 125px 0px;
  display: flex;
  margin: 0px;
  gap: 30px;

}

.hero_page_down_left {
  flex: 1;
}

.hero_page_down_picture {
  background-color: #919191;
  flex: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* .hero_page_down_picture img {
  max-width: 100%;
  max-height: 60%;
  object-fit: fill;
} */

/* .hero_page_down_picture img {
  width: 600px;
  height: 175px;
  object-fit: cover;
} */

p {
  margin: 0px 0px 10px;
}

.button {
  border-radius: 5px;
  padding: 3px;
  background-color: rgb(114, 114, 255);
}

.button_top {
  border: none;
  background-color: rgb(114, 114, 255);
  border-color: rgb(114, 114, 255);
  color: white;
  width: 80px;
}


.button_top:hover {
  background-color: rgb(60, 60, 192);
  cursor: pointer;
}

.second_page {
  padding: 0px 350px 80px;
}

h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 45px 0px 45px;
}

.boxes,
.boxes_text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px 150px;
}

.box {
  border: 4px solid rgb(114, 114, 255);
  border-radius: 10px;
  width: 150px;
  height: 150px;
}

.box_text {
  width: 150px;
  height: auto;
  margin-top: 10px;
}

.third_page {
  background-color: #dad4d4;
  padding: 160px 350px;
}

.quote_text p {
  font-size: 36px;
  font-style: italic;
  font-weight: 50;
  color: rgb(79, 70, 70);
}

.quote_author {
  text-align: end;
  font-size: 28px;
  color: rgb(56, 52, 52);
  font-weight: 600;
  padding-right: 50px;
}

.fourth_page {
  padding: 60px 120px;
  background-color: rgb(114, 114, 255);
  margin: 110px 350px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.call_to_action_header {
  font-size: 24px;
  font-weight: 700;
  margin: 0px;
}

.call_to_action_paragraph {
  margin: 0px;
}

.button_bottom {
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  width: 120px;
  height: 35px;
  font-weight: 700;
  font-size: 18px;
}

.button_bottom:hover {
  background-color: rgb(112, 112, 210);
  cursor: pointer;
}


footer {
  background-color: #2b3747;
  padding: 44px 350px;
  color: white;
  text-align: center;
  font-size: 24px;
}

footer p {
  margin: 0px;
}